---
import { Image } from "astro:assets";
import CoctelTitle from "../../../CoctelTitle/CoctelTitle.astro";
import CoctelInfo from "./CoctelInfo.astro";
import type {CollectionEntry} from "astro:content";

type Props = {
    coctelTitle: string;
    coctels: CollectionEntry<'cocktails'>[];
}

const { coctelTitle, coctels } = Astro.props;
---

<div class="flex flex-col items-center gap-6">
    <CoctelTitle title={coctelTitle} />
    <div class="wrapper flex justify-center gap-8 flex-wrap">
        {
            coctels.map((cocktail) => (
                <div class="flex items-center">
                    <picture class=`${cocktail.imageWidth} xsm:max-w-[125px]`>
                        <Image src={cocktail.image} alt="Coctel" />
                    </picture>
                    <CoctelInfo
                        title={cocktail.name}
                        price={cocktail.price}
                        description={cocktail.description}
                        width={cocktail.textWidth}
                    />
                </div>
            ))
        }
    </div>
</div>

<style>
    .wrapper div:nth-child(6n + 4) picture {
        order: 1;
    }
    .wrapper div:nth-child(6n + 5) picture {
        order: 1;
    }
    .wrapper div:nth-child(6n + 6) picture {
        order: 1;
    }
    @media (width < 900px) {
        .wrapper div:nth-child(even) picture {
            order: 1;
        }
        .wrapper div:nth-child(6n + 5) picture {
            order: -1;
        }
    }
</style>
